.Container {
  display: flex;
  height: 100%;

  .HomesList {
    border-right: 1px solid #f2f2f2;
    @media screen and (max-width: 1200px) {
      width: 100vw;
    }
  }

  .EmptyState {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}