.Container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 800px;
  height: 100vh;

  @media screen and (max-width: 1200px) {
    display: block;
    width: 100vw;
  }

  .Filters { 
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background: var(--geek-blue-1, #F0F5FF);
    padding: 16px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .ListContainer {
    overflow-y: auto;
    flex: 1;
  }
  .List {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
  }

  .Pagination {
    padding: 16px;
    margin: auto;   
  }
}

.Dropdown {
  background-color: #fff;
  width: 250px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ddd;
}