.Container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 800px;

  @media screen and (max-width: 1200px) {
    display: block;
    width: 100vw;
  }

  .Filters { 
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background: var(--geek-blue-1, #F0F5FF);
    padding: 16px;
    overflow: hidden;
    box-sizing: border-box;
  
    * {
      flex: 1;
    }
  }
  
  .List {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}