.Dropdown {
  background-color: #fff;
  width: 250px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ddd;
}